{% extends '_base/base.html' %}

{% block title %}
About
{% endblock title %}

{% block content %}
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">
            Bookshop Application - Flask application with MVC framework implementation. Made as a part of SET Basic Course.
        </p>
        <a class="btn btn-secondary" href="***REMOVED***">SET Basic Course</a>
        <a class="btn btn-secondary" href="***REMOVED***">Source Code</a>
    </div>
</div>
{% endblock content %}
