{% extends "_base/base.html" %}
{% import "_base/modal.html" as modal_macros %}
{% import "users/_macros.html" as users_macros %}

{% block title %}
Users
{% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
<div class="w-75 mx-auto my-5">
    <button class="btn btn-primary" data-bs-target="#create_user" data-bs-toggle="modal" type="button">Create</button>
    <button class="btn btn-info" data-bs-target="#update_user" data-bs-toggle="modal" type="button">Update</button>
    <button class="btn btn-danger" data-bs-target="#delete_user" data-bs-toggle="modal" type="button">Delete</button>
    {{ modal_macros.modal(
           modal_id="create_user",
           modal_title="Create User",
           form=create_user_form,
           button_action="Create"
    ) }}
    {{ modal_macros.modal(
           modal_id="update_user",
           modal_title="Update User",
           form=update_user_form,
           button_action="Update"
    ) }}
    {{ modal_macros.modal(
           modal_id="delete_user",
           modal_title="Delete User",
           form=delete_user_form,
           button_action="Delete"
    ) }}
    {{ users_macros.users_table(users) }}
</div>
{% endblock %}
